.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
    width: 35vw;
}

.contact-form label {
    display: block;
    margin-bottom: 0.7rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
}

.contact-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-size: 1rem;
    font-family: inherit;
    line-height: 1.5;
}



.contact-form button[type="submit"] {
    display: block;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;   
}