.contact-form{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    height: calc(100vh - 168.8px);
    padding: 0 10%;    
}

.contact-form input{
    padding: 10px;
    border-radius: 20px;
}

.contact-form label{
    font-size: x-large;
    align-self: flex-start;
}